<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${bankName.toUpperCase() + ' Users Balances'}"></title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/custom-table.css}">
  <style>
    .balance-column {
      color: #28a745;
      font-weight: bold;
    }
  </style>
</head>
<body>
<div class="container py-4">
  <div class="card">
    <div class="card-body">
      <div th:if="${errorMessage}" class="alert alert-danger text-center" th:text="${errorMessage}"></div>
      <h1 class="text-center" th:text="${bankName.toUpperCase() + ' Users Balances'}"></h1>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-dark">
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Balance</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="userBalance : ${userBalancesWithBank}">
            <td th:text="${userBalance.getUsername()}"></td>
            <td class="balance-column" th:text="${userBalance.getBalance()} + ' €'"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${userBalancesWithBank.first} ? 'disabled'">
            <a class="page-link"
               th:href="@{|/admin/bank/balances/${bankName}?page=${userBalancesWithBank.number - 1}&pageSize=${userBalancesWithBank.size}|}">Previous</a>
          </li>

          <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, userBalancesWithBank.totalPages - 1)}"
            th:classappend="${pageNum == userBalancesWithBank.number} ? 'active'"
            th:if="${pageNum >= userBalancesWithBank.number - 2 && pageNum <= userBalancesWithBank.number + 2}">
            <a class="page-link" th:href="@{|/admin/bank/balances/${bankName}?page=${pageNum}&pageSize=${userBalancesWithBank.size}|}" th:text="${pageNum + 1}"></a>
          </li>

          <li class="page-item" th:classappend="${userBalancesWithBank.last} ? 'disabled'">
            <a class="page-link"
               th:href="@{|/admin/bank/balances/${bankName}?page=${userBalancesWithBank.number + 1}&pageSize=${userBalancesWithBank.size}|}">Next</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
</body>
</html>
