<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${username.toUpperCase() + ' Transaction History'}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/custom-table.css}">

</head>
<body>
<div class="container py-4">
    <div class="card">
        <div class="card-body">
            <div th:if="${errorMessage}" class="alert alert-danger text-center" th:text="${errorMessage}"></div>
            <h1 class="text-center" th:text="${username.toUpperCase() + ' Transaction History'}"></h1>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Transaction Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                        <th scope="col">Transaction Date</th>
                        <th scope="col">Transaction Status</th>
                        <th scope="col">From User</th>
                        <th scope="col">To User</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transaction : ${transactionLogs}">
                        <td th:text="${transaction.getTransactionType()}"></td>
                        <td th:text="${transaction.getAmount()} + ' €'"></td>
                        <td th:text="${transaction.getDescription()}"></td>
                        <td th:text="${#temporals.format(transaction.getTransactionDate(), 'dd-MM-yyyy HH:mm:ss')}"></td>
                        <td th:text="${transaction.getTransactionStatus()}"></td>
                        <td th:text="${transaction.getFromUser()}"></td>
                        <td th:text="${transaction.getToUser() != null ? transaction.getToUser() : '-'}"></td>
                    </tr>
                    </tbody>
                </table>

                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${transactionLogs.first} ? 'disabled'">
                            <a class="page-link" th:href="@{|/admin/bank/transaction/history/${username}?page=${transactionLogs.number - 1}&pageSize=${transactionLogs.size}|}">Previous</a>
                        </li>

                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, transactionLogs.totalPages - 1)}"
                            th:classappend="${pageNum == transactionLogs.number} ? 'active'"
                            th:if="${pageNum >= transactionLogs.number - 2 && pageNum <= transactionLogs.number + 2}">
                            <a class="page-link" th:href="@{|/admin/bank/transaction/history/${username}?page=${pageNum}&pageSize=${transactionLogs.size}|}" th:text="${pageNum + 1}"></a>
                        </li>

                        <li class="page-item" th:classappend="${transactionLogs.last} ? 'disabled'">
                            <a class="page-link" th:href="@{|/admin/bank/transaction/history/${username}?page=${transactionLogs.number + 1}&pageSize=${transactionLogs.size}|}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>
